[Unit]
Description=Run cloud-init init to populate metadata after a shutdown
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init init
Restart=no
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
