# basic audit system parameters
-D
-b 16535 
-f 1
-e 1

# commenting these out, they didn't help the lag
### kkelling - ignore CWD and PATH types
#-a exclude,never -F msgtype=PATH
#-a exclude,never -F msgtype=CWD

# this dramatically reduced lag, not sure if the lsblk
# stuff is "important"
### kkelling - ignore lsblk
-a never,exclude -F path=/usr/bin/lsblk -k exclude_lsblk

# file and directory watches
-w /var/log/audit/
-w /var/log/audit/audit.log -k LOGS_audit

-w /var/log/audit/audit_log.1
-w /var/log/audit/audit_log.2
-w /var/log/audit/audit_log.3
-w /var/log/audit/audit_log.4

-w /etc/audit/auditd.conf -p wa -k CFG_Audit.config
-w /etc/audit/audit.rules -p wa -k CFG_Audit.rules
-w /etc/libaudit.conf -p wa 

# system call rules
-a entry,always -S chmod -S fchmod -S chown -S fchown -S lchown

-a entry,always -S creat -S open -S truncate -S ftruncate

-a entry,always -S mkdir -S rmdir

-a entry,always -S unlink -S rename -S link -S symlink

-a entry,always -S setxattr
-a entry,always -S lsetxattr
-a entry,always -S fsetxattr
-a entry,always -S removexattr
-a entry,always -S lremovexattr
-a entry,always -S fremovexattr

-a entry,always -S mknod

-a entry,always -S mount -S umount2
-a entry,always -S adjtimex -S settimeofday

# sec config files and db's
-w /var/spool/atspool
-w /etc/at.allow
-w /etc/at.deny

-w /etc/cron.allow -p wa
-w /etc/cron.deny -p wa
-w /etc/cron.d/ -p wa
-w /etc/cron.daily/ -p wa
-w /etc/cron.hourly/ -p wa
-w /etc/cron.monthly/ -p wa
-w /etc/cron.weekly/ -p wa
-w /etc/crontab -p wa
-w /var/spool/cron/root


-w /etc/group -p wa
-w /etc/passwd -p rwxa
-w /etc/shadow

-w /etc/login.defs -p wa
-w /etc/securetty
-w /var/log/lastlog


-w /etc/hosts -p wa
-w /etc/sysconfig/
-w /etc/init.d/
-w /etc/ld.so.conf -p wa
-w /etc/localtime -p wa
-w /etc/sysctl.conf -p wa
-w /etc/modprobe.d/
-w /etc/modprobe.conf.local -p wa
-w /etc/modprobe.conf -p wa

-w /etc/pam.d/

-w /etc/aliases -p wa
-w /etc/postfix/ -p wa


-w /etc/ssh/sshd_config

#-w /etc/stunnel/stunnel.conf
#-w /etc/stunnel/stunnel.pem

-w /etc/vsftpd.ftpusers
-w /etc/vsftpd.conf

-a exit,always -S sethostname
-w /etc/issue -p wa
-w /etc/issue.net -p wa
