[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
IOSchedulingClass=2
IOSchedulingPriority=0
Nice=-20

ExecStart=/usr/bin/etcd \
  --election-timeout 5000 \
  --heartbeat-interval 1000 \
  --advertise-client-urls https://${K8S_NODE_IP}:2379,https://127.0.0.1:2379 \
  --cert-file /etc/kubernetes/pki/etcd/server.crt \
  --client-cert-auth=true \
  --data-dir /var/lib/etcd \
  --key-file /etc/kubernetes/pki/etcd/server.key \
  --listen-client-urls https://${K8S_NODE_IP}:2379,https://127.0.0.1:2379 \
  --listen-peer-urls https://${K8S_NODE_IP}:2380 \
  --name ${ETCD_HOSTNAME} \
  --peer-cert-file /etc/kubernetes/pki/etcd/peer.crt \
  --peer-client-cert-auth=true \
  --peer-key-file /etc/kubernetes/pki/etcd/peer.key \
  --peer-trusted-ca-file /etc/kubernetes/pki/etcd/ca.crt \
  --trusted-ca-file /etc/kubernetes/pki/etcd/ca.crt \
  --initial-advertise-peer-urls https://${K8S_NODE_IP}:2380 \
  --initial-cluster ${ETCD_INITIAL_CLUSTER_STRING} \
  --initial-cluster-token tkn \
  --initial-cluster-state new

[Install]
WantedBy=multi-user.target
