apiVersion: v1
kind: Secret
metadata:
  name: {{ item.user_name.lower() }}-s3-credentials
type: Opaque
data:
  access_key: {{ encoded_access_key.stdout }}
  secret_key: {{ encoded_secret_key.stdout }}
{% if build_type == 'google' %}
  s3_endpoint: {{ encoded_vshasta_s3_endpoint.stdout }}
  http_s3_endpoint: {{ encoded_vshasta_s3_endpoint.stdout }}
  https_s3_endpoint: {{ encoded_vshasta_s3_endpoint.stdout }}
  fw_s3_endpoint: {{ encoded_vshasta_s3_endpoint.stdout }}
{% else %}
  s3_endpoint: {{ encoded_s3_endpoint.stdout }}
  http_s3_endpoint: {{ encoded_http_s3_endpoint.stdout }}
  https_s3_endpoint: {{ encoded_https_s3_endpoint.stdout }}
  fw_s3_endpoint: {{ encoded_fw_s3_endpoint.stdout }}
{% endif %}
  ssl_validate: {{ ssl_validate | b64encode }}
