## template:jinja
network:
  version: 2
  ethernets:
    mgmt0:
      dhcp6: no
      mtu: 9000
    mgmt1:
      dhcp6: no
      mtu: 9000
  bonds:
    bond0:
      interfaces: [mgmt0, mgmt1]
      dhcp4: false
      mtu: 9000
      parameters:
        mode: 802.3ad
        mii-monitor-interval: 100
        lacp-rate: slow
        ad-select: bandwidth
        transmit-hash-policy: layer2+3
  vlans:
  {% for name, network in ds.meta_data.ipam.items() if network.vlanid != 0 %}
  {{ network.parent_device }}.{{ name | lower }}0:
      id: {{ network.vlanid }}
      name: {{ name }}0
      link: {{ network.parent_device }}
      dhcp4: false
      mtu: 9000
      addresses: [ {{ network.ip }} ]
  {% endfor %}
