## template:jinja
# Your system has been configured with 'manage-resolv-conf' set to true.
# As a result, cloud-init has written this file with configuration data
# that it has been provided. Cloud-init, by default, will write this file
# a single time (PER_ONCE).
#
# Custom options
options single-request-reopen

{% if ds.meta_data.Global.domain is defined %}
search {% for search in ds.meta_data.Global.domain.split() %}{{ search }} {% endfor %}
{% endif %}

{% if ds.meta_data.Global.dns_server is defined %}
{% for server in ds.meta_data.Global.dns_server.split() %}
nameserver {{ server }}
{% endfor %}
{% endif -%}
