{% for pool in kube_block_pools %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ pool.storage_class }}
provisioner: {{ ceph_rbd_provisioner_type }}
allowVolumeExpansion: true
mountOptions:
- discard
parameters:
  {% if build_type == 'metal' %}
  monitors: {{ mon_addrs }}
  {% else %}
  monitors: {{ ansible_eth0.ipv4.address }}
  {% endif %}
  adminId: {{ ceph_rbd_admin_user }}
  adminSecretName: {{ ceph_rbd_admin_secret }}
  adminSecretNamespace: {{ pool.namespace }}
  pool: {{ pool.pool_name }}
  userId: {{ pool.pool_name }}
  userSecretName: {{ pool.secret }}
  userSecretNamespace: {{ pool.namespace }}
  imageFormat: "2"
  imageFeatures: layering
{% endfor %}
