[Unit]
Description=Load kdump kernel and custom Cray initrd
After=local-fs.target network.service YaST2-Second-Stage.service YaST2-Firstboot.service kdump.service

[Service]
Type=oneshot
ExecStart=/srv/cray/scripts/common/create-kdump-artifacts.sh
Restart=no
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
Also=kdump-early.service
