#!/bin/bash

set -e

# Set this to a password for your environment
export SLES15_INITIAL_ROOT_PASSWORD=default
# Registration code is required for SUSE repos
export SLES15_REGISTRATION_CODE=token
# Set the specific SHA for building with `csm-rpms`
#export CSM_RPMS_SHA=abcdefg
# Name of the custom repos file, located in the `custom` directory of `node-image-build`
#export CUSTOM_REPOS_FILE=custom-filename.repos