{% for pool in ceph_rbd_pools %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ pool.storage_class }}
provisioner: {{ ceph_rbd_provisioner_type }}
allowVolumeExpansion: true
mountOptions:
- discard
parameters:
  monitors: {% for host in groups['mons'] %}{% if not loop.first %},{% endif %}{{ hostvars[host]['monitor_address'] }}{% endfor %}
  adminId: {{ ceph_rbd_admin_user }}
  adminSecretName: {{ ceph_rbd_admin_secret }}
  adminSecretNamespace: {{ pool.namespace }}
  pool: {{ pool.name }}
  userId: {{ pool.user }}
  userSecretName: {{ pool.secret }}
  userSecretNamespace: {{ pool.namespace }}
  imageFormat: "2"
  imageFeatures: layering
{% endfor %}
