[Unit]
Description=ConMan Console Management Daemon
After=network.target

[Service]
Type=forking
#User=conman
#Group=conman
ExecStart=/usr/sbin/conmand -c /etc/conman.conf

[Install]
WantedBy=multi-user.target
